html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

nav .navbar-brand {
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .red {
    color: #fc0b03;
}

nav .navbar-brand .orange {
    color: #fcb103;
}

nav .navbar-brand .yellow {
    color: #fcf403;
}

nav .navbar-brand .green {
    color: #39fc03;
}

nav .navbar-brand .sky-blue {
    color: #03dbfc;
}

nav .navbar-brand .blue {
    color: #0303fc;
}

nav .navbar-brand .purple {
    color: #e703fc;
}

main .form-control {
    /* center form controls */
    display: inline-block;
    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main {
    /* scroll horizontally as needed */
    overflow-x: auto;
    /* center contents */
    text-align: center;
}

main img {
    /* constrain images on small screens */
    max-width: 100%;
}

.form-group {
    margin-top: 2%;
    margin-bottom: 1%;
}