@model IEnumerable<InvestOA.Core.History>

@{
    ViewData["Title"] = "History";
}

<form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Transacted</th>
            </tr>
        </thead>
        <tbody>            
            @if (Model != null)
            {
                foreach (var s in Model)
                {
                    <tr>
                        <td>@s.Ticker</td>
                        <td>@s.Shares</td>
                        <td>@s.Price USD</td>
                        <td>@s.TimeOfTransaction</td>
                    </tr>
                }
            }        
        </tbody>
    </table>
</form>