@{
    ViewData["Title"] = "History";
}

<form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Transacted</th>
            </tr>
        </thead>
        <tbody>            
            <tr>
                <td>stock.symbol</td>
                <td>stock.shares</td>
                <td>stock.price | usd</td>
                <td>stock.transaction</td>
            </tr>            
        </tbody>
    </table>
</form>