@model InvestOA.Core.Requests.Quote

@{
    ViewData["Title"] = "Quote";
}

<form asp-controller="Portfolio" asp-action="Quote" method="post">
    <div class="form-group">
        <input autocomplete="off" asp-for="Symbol" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Quote</button>
</form>
