@{
    ViewData["Title"] = "Confirmed";
}

<div style="text-align: center">
    <h1>Your account has been confirmed sucessfully!</h1>
    <h2>You can <a asp-controller="Auth" asp-action="Login"><em>login</em></a> now</h2>
</div>
