@{
    ViewData["Title"] = "Confirmation";
}

<div style="text-align: center">
    <h1>Your account has been registered sucessfully!</h1>
    <h2>Confirm your <em>email</em> before loggin in</h2>
</div>
