@model InvestOA.WebApp.Models.Requests.RegisterRequest

@{
    ViewData["Title"] = "Register";
}

<form asp-controller="Auth" asp-action="RegisterUser" method="post">
    <div class="form-group">
        <input id="email" asp-for="Email"  autocomplete="off" autofocus class="form-control" name="email"
        placeholder="Email" type="text" onkeyup="namecheck();">
        <p id="validy"></p>
    </div>
    <div class="form-group">
        <input class="form-control" asp-for="Password" name="password" placeholder="Password" type="password">
    </div>
    <div class="form-group">
        <input class="form-control" asp-for="Confirmation" id="confirmation" placeholder="Confirmation" type="password">
    </div>
        <button class="btn btn-primary" style="margin-top: 1%" type="submit">Register</button>
</form>

<script>
function namecheck() {
    var username = document.getElementById("email").value;
    var validy = document.getElementById("validy");
    $.get("/check?email="+email, function(data)
    { if (data == false) {
        alert("Email taken");
        event.preventDefault(); }
    })
}
</script>
